
@{
    ViewBag.Title = "BookTable";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/Contents/css/style.css" type="text/css">
<p style="position: fixed; bottom: 10px; left: 10px; background-color: #f9f9f9; padding: 10px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); z-index: 9999;">
    Current table status:
    <span style="color: @(Session["TableStatus"] != null && (bool)Session["TableStatus"] ? "red" : "green");">
        @(Session["TableStatus"] != null && (bool)Session["TableStatus"] ? "Full" : "Empty")
    </span>
</p>

<section class="checkout spad">
    <div class="container">
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>Name<span>*</span></p>
                            @Html.TextBox("FirstName", "", new { @class = "checkout__input__add" })
                            <div>
                                @ViewData["firstName"]
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>Last Name<span>*</span></p>
                            @Html.TextBox("LastName", "", new { @class = "checkout__input__add" })
                            <div>
                                @ViewData["lastName"]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>Phone<span>*</span></p>
                            @Html.TextBox("Phone", "", new { @class = "checkout__input__add" })
                            <div>
                                @ViewData["phone"]
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>Seat<span>*</span></p>
                            @Html.TextBox("Seat", "", new { @type = "number", @class = "checkout__input__add" })
                            <div>
                                @ViewData["seat"]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>Phone<span>*</span></p>
                            @Html.TextBox("Date", DateTime.Now, new { @type = "date", @class = "checkout__input__add" })
                            <div>
                                @ViewData["date"]
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout__input">
                            <p>Seat<span>*</span></p>
                            @Html.TextBox("Time", DateTime.Now.TimeOfDay, new { @type = "time", @class = "checkout__input__add" })
                            <div>
                                @ViewData["time"]
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="site-btn">BOOK</button>
            }
        </div>
    </div>
</section>